body, html {
  margin: 0;
  padding: 0;
  background: black; /* Black background */
  color: white;
  font-family: 'Arial', sans-serif;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column; /* Stack elements vertically */
}

.App-content {
  text-align: center;
}

.App-logo {
  height: 500px; /* Significantly larger logo */
  margin-bottom: 50px;
  animation: logo-fade-in 2s ease-in;
}

@keyframes logo-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px; /* Space above social links */
}

.buy-now-link, .repo-link {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 15px 30px; /* Slightly larger buttons */
  color: #4caf50;
  text-decoration: none;
  margin: 10px 0;
  font-size: 1.5em; /* Larger font size for links */
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(5px);
  transition: all 0.3s;
}

.buy-now-link:hover, .repo-link:hover {
  background: rgba(255, 255, 255, 0.35);
  color: #ff6f61;
  transform: translateY(-2px);
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  color: #ffffff;
  margin: 0 15px;
  font-size: 2em; /* Larger social media icons */
  transition: color 0.3s;
}

.social-links a:hover {
  color: #78c7d2;
}

@media (max-width: 768px) {
  .App-logo {
    height: 300px; /* Smaller logo for mobile */
  }
}
