body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Teko', sans-serif; /* Use Teko font */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  text-align: center;
  color: white;
}

.App-header {
  width: 100%; /* Full width */
  max-width: 1200px; /* Maximum width */
  padding: 30px;
  margin: 0 auto; /* Centering */
}

.content-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%; /* Full width */
}

.App-logo {
  height: 450px;
  margin-bottom: 40px; /* Increased space below logo */
}

.main-title, .sub-title {
  color: #7823f6;
  margin-bottom: 30px; /* Increased space below titles */
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between social links */
  margin-top: 30px; /* Space above social links */
}

a {
  color: #1DA1F2;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}

.button {
  background-color: #7823f6; /* Or any other color you prefer */
  color: white;
  padding: 10px 23px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 40px; /* Increased space below buttons */
}

.button:hover {
  background-color: #5a1ea6; /* Darker shade for hover effect */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .content-layout {
    flex-direction: column;
  }

  .social-links {
    flex-direction: column; /* Stack links for smaller screens */
    align-items: center;
  }
}
